.favorite {
  cursor: pointer;
}
.list-group-item .list-unstyled .favorite::before {
  color: gold;
  font-size: 28px;
}
.page-people-directory .list-unstyled .trash::before{
  color: red;
  cursor: pointer;
}